.main-header {
    
    color: #fff;
    
    
    .user-info {
        text-align: right;

        .ant-btn {
            text-align: center;
            margin-left: 20px;
        }
    }
    
    
    .logo-text {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        font-weight: normal;
    }
}
